@font-face {
	font-family: plusJakartaSans;
	src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
	font-family: plusJakartaSans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16.8px;
	font-weight: 450;
	letter-spacing: 0;
}

body {
	width: 100svw;
	height: 100svh;
	overflow-x: none;
}

header {
	height: 6.4rem;
	width: 100%;
	background: #0D121F;
	border-bottom: 2px solid #2A2E3A;
	display: flex;
	justify-content: center;
}

.nav-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.nav-wrapper>* {
	height: 100%;
	display: flex;
	align-items: center;
}

header>*>* {
	position: relative;
	transform: translateX(-25%);
}

.icon-container {
	width: 35%;
	position: relative;
}

.icon-container img {
	position: absolute;
	left: 50%;
	width: 23.23%;
	transform: translateX(9%) translateY(-1.33%);
}

nav {
	position: absolute;
	left: 50%;
	transform: translateX(-60.3%);
	width: 29.4%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

a {
	text-decoration: none;
	color: #e5e5e5;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	color: white;
}

button.login {
	background-color: #3D81DB;
}

.dl-login {
	width: 37.6%;
	justify-content: end;
	gap: 2.1rem;
}

.dl-login>button {
	color: #a4b2c9;
}

#login-btn {
	background-color: #3D81DB;
	color: white;
	padding: 1.04rem 1.55rem;
	border-radius: 1.825rem;
	transform: translateY(-0.35%);
}