@font-face {
	font-family: plusJakartaSans;
	src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
	--primary-dark: #0D121F;
	--primary-light: #131825;
	--light-blue: #3D81DB;
	--light-gray: #72819A;
}

strong {
	font-weight: 700;
	font-size: inherit;
}

* {
	font-family: plusJakartaSans;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 15.5px;
	font-weight: 450;
	letter-spacing: 0;
	scroll-behavior: smooth;
}

body {
	width: 100svw;
	height: 110svh;
	overflow-x: hidden;
}

header {
	height: 6.45rem;
	width: 100%;
	background: var(--primary-dark);
	border-bottom: 2px solid #2A2E3A;
	display: flex;
	justify-content: center;
}

h1 {
	position: relative;
	font-size: 39px;
	font-weight: 790;
	letter-spacing: 0;
}

h1.white {
	color: white;
}

h2 {
	position: relative;
	color: var(--light-blue);
	font-size: 1.3rem;
	font-weight: 600;
}

h1.white {
	color: #fff;
	font-weight: 600;
}

h3 {
	font-size: 1.2rem;
	color: var(--light-gray);
}

.nav-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.nav-wrapper>* {
	height: 100%;
	display: flex;
	align-items: center;
}

header>*>* {
	position: relative;
	transform: translateX(-25%);
}

.icon-container {
	width: 35%;
	position: relative;
}

.icon-container img {
	position: absolute;
	left: 50%;
	width: 23%;
	transform: translateX(8.4%) translateY(.9%);
}

.nav-wrapper nav {
	position: absolute;
	left: 50%;
	transform: translateX(-60.3%);
	width: 29.4%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.nav-wrapper a {
	transform: translateY(3%);
}

.nav-wrapper nav a::before,
.download-btn::before {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background: #fff;
	bottom: 10%;
	left: 0;
	transition: width .4s ease-in-out;
}

nav a:hover::before,
.download-btn:hover::before {
	width: 200%;
}

nav a:not(.download-btn) {
	position: relative;
	width: auto;
	height: 2rem;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #e5e5e5;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	color: white;
}

.dl-login {
	width: 37.6%;
	justify-content: end;
	gap: 2.1rem;
}

.download-btn {
	position: relative;
	overflow: hidden;
	color: #bdcadf;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn:not(.blue) {
	color: #a1b1ca;
}

.btn {
	color: white;
	padding: 1.06rem 1.55rem;
	border-radius: 1.825rem;
	font-weight: 500;
	cursor: pointer;
}

.btn.blue {
	background-color: var(--light-blue);
}

.btn.gray {
	background: #1A202C;
}

main {
	width: 100%;
	height: fit-content;
}

main section {
	border-bottom: 2px solid black;
}

#hero {
	position: relative;
	width: 100%;
	height: 79.5svh;
	background: var(--primary-dark);
	overflow: hidden;
	display: flex;
	justify-content: center;
}

#hero .title,
#hero .title span {
	font-size: 4.55rem;
	font-weight: 700;
	color: white;
	word-spacing: -2px;
}

.fade-in {
	opacity: 0;
	animation: 1s forwards fade-in;
}

p.fade-in {
	animation-delay: .2s;
}

.links.fade-in {
	animation-delay: .4s;
}

#hero>*:not(.circle) {
	position: absolute;
	width: 60%;
	height: 20%;
	left: 50%;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(-.7rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

#hero .title {
	position: relative;
	left: -0.5%;
	top: 19.5%;
	letter-spacing: -1.9px;
	text-align: center;
	height: 50%;
	max-width: 50rem;
	font-size: 72px;
	word-spacing: 0rem;
	font-weight: 680;
	z-index: 2;
}

#hero .title span {
	position: relative;
	top: 3.3%;
	left: .8%;
	letter-spacing: -2px;
	font-size: 4.6rem;
	background-image: linear-gradient(180deg, #c3d4ed 0%, #9EB7D9 100%);
	color: transparent;
	background-clip: text;
	word-spacing: 1px;
}

#hero .info {
	bottom: 19.4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	transform: translateX(-50%);
	z-index: 2;
}

#hero .info .links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
}

#hero .info p {
	position: relative;
	font-size: 1.29rem;
	width: 97%;
	line-height: 1.5;
	color: var(--light-gray);
	text-align: center;
	bottom: 7%;
	letter-spacing: -0.5px;
}

.circle {
	position: absolute;
	border-radius: 100%;
	background: #1F2430;
}

.circle::before {
	content: '';
	position: absolute;
	border-radius: 100%;
}

#hero .circle {
	position: absolute;
	width: 66vw;
	height: 63vw;
	background: #191E2A;
}

#hero .circle::before {
	width: 79%;
	height: 79%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: var(--primary-dark);
}

#hero .circle:nth-child(2) {
	right: 0;
	top: 0;
	transform: translate(52%, -52.3%);
}

#hero .circle:nth-child(1) {
	right: 0;
	top: 0;
	transform: translate(-132.5%, 21.3%);
}

#hero::before {
	content: '';
	width: 70svw;
	z-index: 1;
	aspect-ratio: 1/1;
	position: absolute;
	left: 50%;
	transform: translate(-52%, -55%);
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.07) 38%, rgba(255, 255, 255, 0) 70%, transparent)
}

#about {
	position: relative;
	width: 100%;
	height: 61.5svh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title,
.about-info {
	width: 100%;
	flex: 1;
}

.about-title {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.about-info {
	width: 56%;
	text-align: center;
	font-size: 1.18rem;
	line-height: 1.7rem;
}

.about-info p {
	letter-spacing: 0;
	position: relative;
	top: -4px;
	font-size: 17.5px;
	font-weight: 400;
}

#about h2 {
	bottom: 24%;
}

#about h1 {
	bottom: 18.6%;
}

#about>img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	scale: 1;
	top: -1%;
	object-fit: cover;
}

#how-it-works {
	position: relative;
	width: 100%;
	height: 105svh;
	background: var(--primary-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.how-title {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 15%;
	top: 12.4%;
}

.how-title h2 {
	font-size: 1.25rem;
}

.how-title h1 {
	transform: translateY(6%);
	font-size: 40px;
}

.how-title h1,
.how-title h3 {
	letter-spacing: -1px;
}

.how-title h3 {
	position: relative;
	bottom: -5.4%;
	font-size: 1.36rem;
}

.how-showcase {
	position: relative;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9.5%;
	top: 12.8%;
}

#how-it-works .card {
	position: relative;
	width: 13.9%;
	aspect-ratio: 1/1;
	background: #fff;

	border-radius: 8%;
}

.how-showcase .card:nth-child(1),
.how-showcase .card:nth-child(2) {
	background: #F3F5F7 !important;
}

.how-showcase .card:nth-child(2):hover svg.dash {
	stroke-dasharray: 100;
	stroke-dashoffset: 1000;
	animation: infinite-dash 5s linear infinite reverse;
}

@keyframes infinite-dash {
	to {
		stroke-dashoffset: 500;
	}
}

.how-showcase .card:nth-child(3):hover svg.rotate>#rotate-path {
	animation: rotate-svg 1.3s infinite linear;
	transform-origin: 50% 55%;
}

@keyframes rotate-svg {
	to {
		rotate: 360deg;
	}
}

.how-showcase .card:nth-child(3)>svg,
.how-showcase .card:nth-child(3)>button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.how-showcase .card .card-inner {
	position: absolute;
	width: 84%;
	height: 84%;
	background: #fff;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	display: grid;
	place-content: center;
}

.card .card-inner .card-inner-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	right: 5%;
}

.card .card-inner .card-inner-container span {
	text-align: center;
	color: #376cc2;
	font-size: 13.5px;
	word-spacing: 6px;
}

.numero-uno {
	position: relative;
}

.numero-uno::before {
	content: '_';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -56%);
	color: #376cc2;
}

.how-showcase .card:nth-child(3)>svg {
	top: 23%;
}

.how-showcase .card:nth-child(3)>button {
	bottom: 13%;
}

.card .dummy-button {
	width: 43%;
	height: .9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .card-number {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	width: 3.9rem;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background-color: #3D81DB;
	color: white;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: 600;
	border: .4rem solid var(--primary-dark);
}

.description {
	position: absolute;
	width: 140%;
	bottom: -37.8%;
	color: #DADBDD;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	line-height: 1.9rem;

}

.description p {
	font-size: 1.33rem;
	letter-spacing: -1px;
	font-weight: 500;
	word-spacing: 2px;
}

.how-buttons {
	position: relative;
	width: 100%;
	height: 15%;
	top: 14.2%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.how-buttons button {
	padding: 1.05rem 1.6rem;
}

#why-us {
	width: 100%;
	height: 84.2svh;
}

#why-us>* {
	width: 51%;
	height: 50.2%;
	margin-inline: auto;
	text-align: center;
}

.why-info>* {
	position: relative;
	transform: translateY(151%);
}

.why-info h3 {
	bottom: -7.8%;
	font-size: 1.27rem;
	line-height: 1.9rem;
	color: #b2b5bb;
	letter-spacing: -.3px;
}

.why-info h1 {
	bottom: -10.1%;
	letter-spacing: -1.1px;
	font-weight: 700;
	font-size: 2.57rem;
}

.why-info h2 {
	bottom: -19.7%;
	font-size: 1.27rem;
	letter-spacing: -.3px;
}

#why-us>.why-reasons {
	position: relative;
	left: 5.5%;
	display: grid;
	width: 62%;
	height: 37.9%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 4.5rem;
	row-gap: 0.6rem;
}

.why-reasons h1 {
	font-size: 1.51rem;
	font-weight: 650;
	letter-spacing: -0.5px;
}

.why-reasons h3 {
	font-size: 1.03rem;
	text-align: start;
	width: 84.8%;
	line-height: 1.55rem;
	letter-spacing: -0.4px;
}

.why-reasons .reason {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 9.9%;
}

.why-reasons .reason:hover .reason-image {
	zoom: 1.2;
	transform-origin: center;
}

.why-reasons>.reason>.reason-image {
	position: absolute;
	left: -19.9%;
	top: 37%;
	width: 3.25rem;
	aspect-ratio: 1/1;
	border-radius: 0.8rem;
	background: #3D81DB;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
}

.reason-image>img {
	width: 48%;
}

#download {
	position: relative;
	width: 100%;
	height: 76svh;
	background: var(--primary-dark);
	overflow: hidden;
	border-bottom: none;
}

#download .img-container {
	position: absolute;
	width: 50.7%;
	height: 87.2%;
	bottom: 0;
	right: 0;
}

#download .img-container img {
	border: 7.9px solid #3D414C;
	border-right: none;
	border-bottom: none;
	border-top-left-radius: 2.1rem;
	width: 102%;
	height: 100%;
	transform-origin: top left;
	transform: scale(1.295);
}

#download .info-container {
	position: relative;
	top: 21.4%;
	left: 8.4%;
	width: 39%;
	height: 70%;
	display: flex;
	flex-direction: column;
}

#download .info-container h2 {
	font-size: 1.25rem;
}

#download .info-container h1 {
	margin-top: 1.2rem;
	word-spacing: -.7px;
	letter-spacing: -.7px;
	font-weight: 700;
	line-height: 3.1rem;
}

#download .info-container h1 p {
	all: inherit;
	margin-top: 0;
}

#download .info-container h3 {
	margin-top: 1.14rem;
	line-height: 1.9rem;
	font-size: 1.27rem;
	letter-spacing: -.3px;
}

#download .info-container .buttons {
	display: flex;
	justify-content: space-between;
	width: 71.5%;
	margin-top: 3.6rem;
}

#download .info-container .buttons button {
	transition: transform .3s ease-in-out;
}

#download .info-container .buttons button:hover {
	transform: scale(1.05);
	transform-origin: center;
}

#locations {
	position: relative;
	width: 100%;
	height: 93.1svh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.locations-title {
	height: 11.7%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 4.3%;
}

.locations-title h1 {
	letter-spacing: -1.2px;
	font-size: 2.57rem;
	font-weight: 710;
}

.locations-title h2 {
	font-size: 1.25rem;
}

.locations-cards {
	width: 100%;
	height: 49%;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1.6rem;
	margin-top: 3.7%;
}

.locations-cards .card-wrapper {
	position: relative;
	width: 26.6%;
	height: 100%;
	aspect-ratio: 1.2/1;
	border-radius: .8rem;
	border: 1.5px solid #B7D4DE;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	transition: border-color .3s ease-in-out, border-width .1s ease-in-out;
}

.locations-cards .card-wrapper:hover {
	border: 1.5px solid #3D81DB;
}

#locations .card-wrapper .card {
	position: relative;
	width: 83.4%;
	height: 81%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#locations .card>* {
	width: 100%;
}

#locations .card dt {
	font-weight: 700;
	font-size: 1.18rem;
	margin-top: 0.13rem;
	letter-spacing: -0.7px;
}

#locations .card dd {
	line-height: 1.55rem;
	font-weight: 500;
}

#locations .address {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	height: 17.4%;
}

#locations .address .address-city {
	font-size: 1.19rem;
	color: #3D414B;
}

#locations .address .address-street {
	color: #525559;
	letter-spacing: -.8px;
	font-size: 17px;
}

#locations .card .info {
	font-size: 1.25rem;
	font-weight: 600;
	height: 63%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

#locations .card strong {
	font-weight: 800;
	letter-spacing: -.8px;
}

#locations button {
	position: absolute;
	bottom: 8.6%;
}

footer {
	position: relative;
	width: 100%;
	height: 9.7rem;
	background: var(--primary-light);
	overflow: hidden;
}

footer img {
	width: 8svw;
	transform: translate(1%, 3.6%);
}


.footer-container {
	width: 83.5%;
	height: 100%;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer a {
	text-decoration: none;
	color: #5ea7fa;
	font-weight: 600;
}

footer .links-container {
	position: relative;
	width: 39svw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: bolder;
	z-index: 1;
}

footer .links-separator {
	width: 2px;
	height: 1rem;
	background: #293345;
	margin: 0;
	padding: 0;
}

footer span.trademark-container {
	color: var(--light-gray);
}

footer .circle {
	width: 57.8svw;
	height: 50svw;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

footer .circle::before {
	width: calc(57.7svw * 0.72);
	height: calc(50svw * 0.7);
	background: var(--primary-light);
	top: 13.85%;
	left: 50%;
	transform: translateX(-50%);
}

.nav-wrapper .hamburger {
	display: none;
}

@media (max-width: 496px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	header {
		height: 4.5rem;
	}

	.nav-wrapper>*:not(.icon-container) {
		display: none;
	}

	.icon-container {
		width: 35%;
	}

	.icon-container img {
		width: 70%;
		left: 30%;
	}

	.nav-wrapper .hamburger {
		display: block;
		width: 13%;
		display: grid;
		place-items: center;
	}

	#hero {
		height: 45svh;
	}

	#hero span.title {
		width: 90%;
		font-size: 35px;
		word-spacing: 1px;
	}

	#hero span.title span {
		font-size: inherit;
	}

	#hero .circle:nth-child(1) {
		display: none;
	}

	#hero::before {
		display: none;
	}

	#hero .info {
		width: 90%;
		bottom: 22.4%;
	}

	#hero .info p {
		font-size: 15px;
	}

	#hero .info .links {
		width: 85%;
	}

	.btn {
		padding: .6rem .9rem;
		font-weight: 500;
		font-size: 13px;
	}

	#hero .circle:nth-child(2) {
		width: 38rem;
		height: 40rem;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
	}

	#hero .circle:nth-child(2)::before {
		width: 70%;
		height: 70%;
	}

	#about {
		height: 45svh;
	}

	#about .about-title {
		height: 30%;
		margin-bottom: 5%;
		gap: .5rem;
	}

	.about-title>* {
		inset: 0;
	}

	.about-info {
		width: 95%;
		margin-bottom: 13%;
	}

	.about-info p {
		font-size: 13.9px;
		line-height: 1.2rem;
	}

	#how-it-works {
		height: 150svh;
	}

	#how-it-works .how-title {
		top: 3%;
		height: 9%;
	}

	#how-it-works h1 {
		font-size: 35px;
	}

	#how-it-works h3 {
		font-size: 1.15rem;
	}

	.how-showcase {
		flex-direction: column;
		height: 105svh;
		top: 7%;
		gap: 14%;
	}

	#how-it-works .how-showcase .card {
		width: 50%;
	}

	#how-it-works .how-showcase .card .card-inner-container {
		scale: 1.1
	}

	.how-showcase .card .dummy-button {
		padding-block: 1.1rem;
		font-size: 1rem;
	}

	.card .description {
		display: grid;
		place-items: center;
		bottom: -33%;
	}

	.card .description p {
		font-size: 18px;
		width: 80%;
	}

	.card .card-number {
		width: 4.4rem
	}

	.how-showcase .card:nth-child(3) svg {
		scale: 1.3;
		transform: translateX(-40%);
		top: 18%;
	}

	.how-buttons {
		top: 8.2%;
	}

	.how-buttons .btn {
		padding: 12px 20px;
		font-size: 15px;

	}

	#why-us {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	#why-us .why-info {
		height: 25%;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
	}

	.why-info>* {
		transform: unset;
		inset: 0;
	}

	.why-info h1 {
		font-size: 2.2rem;
	}

	.why-info h3 {
		font-size: 1rem;
		line-height: 1.4rem;
	}

	#why-us .why-reasons {
		width: 95%;
		height: 59%;
		display: flex;
		flex-direction: column;
		gap: 2.6rem;
		left: 18%;
		bottom: -7%;
	}

	.why-reasons .why-reason {
		gap: 15%;
	}

	.why-reasons h1 {
		font-size: 1.3rem;
	}

	.why-reasons h3 {
		width: 80%;
	}

	.why-reasons>.reason>.reason-image {
		top: 60%;
		left: -18%;
	}

	#download {
		display: flex;
		flex-direction: column;
	}

	#download .info-container,
	#download .img-container {
		position: relative;
		inset: 0;
		width: 90%;
		margin-inline: auto;
	}

	#download .info-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 2.5%;
	}

	.info-container .buttons {
		width: 100%;
	}

	#download>.info-container>:is(h1, h2, h3, .buttons) {
		line-height: 2.5rem;
		text-align: center;
		margin: 0;
	}

	#download>.info-container>h3 {
		line-height: 1.4rem !important;
		font-size: 15px;
	}

	#download .info-container .buttons {
		width: 100%;
		justify-content: center;
		margin-top: 8%;
	}


	#download .info-container .buttons button {
		width: 40%;
		display: grid;
		place-items: center;
	}

	#download .info-container .buttons button img {
		width: 90%;
	}

	#download .img-container {
		width: 95%;
		height: 50%;
		margin-bottom: 8%;
	}

	#download .img-container img {
		width: 100%;
		transform: none;
		border: 4px solid #3D414C;
		border-radius: .8rem;
	}

}